<template>
    <el-card class="book-container" :body-style="cardStyle">
        <div class="book-data-container">
            <div class="book-data-preffix">
                Название:
            </div>
            <div class="book-name-data">
                {{ book.name }}
            </div>
        </div>
        <div class="book-data-container">
            <div class="book-data-preffix">
                Книга прочитана
            </div>
            <input type="checkbox" v-model="hasRead">
        </div>
        <div class="book-data-container">
            <div class="book-data-preffix">
                Книга в плане
            </div>
            <input type="checkbox" v-model="inPlan">
        </div>
    </el-card>
</template>

<script>
import bookAdapter from "../adapters/bookAdapter";

export default {
    name: "bookContainer",
    props: {
        book: { required: true, type: Object, },
    },
    data() {
        return {
            hasRead: this.book.hasRead,
            inPlan: this.book.inPlan,
        }
    },
    watch: {
        hasRead: {
            handler(val) {
                if (val === this.book.hasRead)
                    return;

                this.$api.setBookHasRead({ book: this.book.id, has_read: val, }).then(({ result }) => {
                    const book = bookAdapter(result);

                    this.hasRead = book.hasRead;
                    this.inPlan = book.inPlan;
                });
            }
        },
        inPlan: {
            handler(val) {
                if (val === this.book.inPlan)
                    return;

                this.$api.setBookInPlan({ book: this.book.id, in_plan: val, }).then(({ result }) => {
                    const book = bookAdapter(result);

                    this.hasRead = book.hasRead;
                    this.inPlan = book.inPlan;
                });
            }
        }
    },
    computed: {
        cardStyle() {
            return `
            display: flex;
            width: 100%
            flex-direction: row;
            justify-content: space-between;`;
        }
    },
}
</script>

<style lang="scss" scoped>
    .book-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .book-data-container {
            display: flex;
            flex-basis: 25%;

            .book-data-preffix {
                margin-right: 1em;
                font-weight: bold;
            }
        }
    }

    .el-card__body {
        display: flex;
    }
</style>