<template>
    <div>
        <book-container v-for="book in books"
                        :key="book.id"
                        :book="book"
                        class="book-container"></book-container>
        <div class="books-center">
            <el-pagination
                    layout="prev, pager, next"
                    @current-change="change"
                    :page-size="14"
                    :total="total">
            </el-pagination>
        </div>
    </div>
</template>

<script>

import bookAdapter from "../../adapters/bookAdapter";
import BookContainer from "../../components/bookContainer";

export default {
    name: "books",
    components: {BookContainer},
    data() {
        return {
            books: [],
            total: 0,
        }
    },
    async asyncData({ app, query }) {
        const { result } = await app.$api.allBooks({ cur_page: (query.page) ? Number(query.page) : 1, per_page: 14 });

        return {
            books: result.data.map((el) => bookAdapter(el)),
            total: result.total,
        }
    },
    computed: {
        curPage() {
            return (this.$route.query.page) ? Number(this.$route.query.page) : 1;
        }
    },
    methods: {
        change(cur) {
            this.$router.push({ query: {page: cur} });
        }
    },
    watchQuery: [ 'page' ],
}
</script>

<style lang="scss" scoped>
    .books-center {
        margin-top: 1em;
        display: flex;
        justify-content: center;
    }
    .book-container {
        margin-bottom: 1em;
    }
</style>