<template>
    <div class="flex-middle-x-y">
        <el-input type="textarea" v-model="books" class="books-input" height="90vh">
        </el-input>
        <el-button type="success" @click="save">
            сохранить книги
        </el-button>
    </div>
</template>

<script>

function prepareDataForSave(books) {

    return books.split('\n');
}

export default {
    name: "index",
    data() {
        return {
            books: '',
        }
    },
    methods: {
        save() {
            return this.$api.saveBooks({ data: prepareDataForSave(this.books)});
        }
    }
}
</script>

<style lang="scss" scoped>

    .flex-middle-x-y {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .books-input {
            margin-bottom: 1em;
        }
    }

</style>